---
dist: xenial
language: python
python: 3.7
# pre-commit hooks can use Docker, so we should go ahead and enable it
services: docker
env:
  global:
    # AWS_ACCESS_KEY_ID
    - secure: >-
        es7MJoLiX5OzAyRVw5DVQOBhpo7e5EPdh7qX2dOCI0W2IZcjYAnK2us4KiIKipe6EUt
        3utVVRHSEeVkENoh+McBqp3yk53CHzHjX855oMkpwWA5qu9bofBaSDEzQWORmc44Eov
        z6ZgxbG6gXJzWO2lsOWA8hd+5Z1C9O/2PQdjatgZZPmM42PpGs7PG6Hf/bF0Fgtg36G
        MApMJmocXfxJrqcWhdhg0px9o5CDPF6v2CcTrmsQxJj0v3w45M4VPDFNFEdKfTW2a/m
        kDAidMNGn2ugTzTpga6AxUzF1MyJ4+7AuItax4uUxFUmOh2mXTLtFKo9FJAXdffftzj
        mnhPloaQdvFzFUKJoz3f6tBqGP3ae8UTEXYdBuPC6/VhRsI4LiQ5tVeC5pqvmW4PqHQ
        Sk9rs0gJ4GtSnmI5+hGAOpVUgLTQ6awujBZER2ApObyi7vh+WrxinGZajZcng0FtV1p
        +sueoQw4U8X6CwD9UOxEcd0Xnp3chMUWUowVgs5/5lO3vaKRM+RfvQH3bsKGN4mRlf0
        HBvLW+4iSTDvpBaHCVr/m53hERGkdrQa44fVZqE9cXTvCwtAa1UsmwnqbNDRdhE4Dr9
        vrAsfwXG4nKXrNmQ2nsZbbUXGqUP7i0sjXFdWD0HFo474+U6uDjtOmKcby5l+SyBnwl
        ke3/yWoyLnisA=
    - AWS_DEFAULT_REGION="us-east-2"
    # AWS_SECRET_ACCESS_KEY
    - secure: >-
        c7Qo6tdi0ihKBHNjNMgBiCpHJdT7TIUixXCK8eHxAl4SI4Sv6Ygv/hQFzkBuk7Y3/kj
        uxUbxF8IAnmgTzGDxjTNHAY8fNNe8banlVUi83QlfjYr9AnHb36wXWcdTivmbzbfUMk
        PH0QECCC9q/TcqtCizIKMgU6V7NoZxPzwf9bFtGdSjpy5yfnyZpIbzctBP1NMlw+SrP
        K4LD+9k05Q9Im24cHEs7UQJhXew+c60nBRod2HdRynFYe8Eru5QwsYfbRc9ko0zTEqK
        5RTWPYQi50uSe6iTJCK3zHh7cGFQ31gh1bhX2MGvssM/qONMetfogLl0uzQ1wsXP+4Q
        4ufWq2dT/m0cYyuwVQokAhgjd5oevK+VHbSsH2g1/uczlaEV9vn+MP6QJOAVuDWVrkC
        r0EaGFT/iSQG7xN+XWln/mSN+AOwE++AYPNZ+eDONo57aaUqlQq+1o3ardbV3cId6QE
        CUV4ltwpl1nX9WjYCqqvKLav9DGKSVTfPe2aCV+ugooroOjD93Kj6HSJrqM9veqLP+5
        fqQ8bDKxafJatOVN4hyYhbVn4UN//U2thSGMu0t20kjIIDFIodRlCGTVXWLyxN7NPMp
        7QGm04M3ZRyYkZgof0UkSaCJLB6ClZS1AfK4RSeuiUBAi4b8n/R/RNuzwpHoLyJSix7
        QIukSTRw5n6t4=
    - CURL_CACHE_DIR="$HOME/.cache/curl"
    # GITHUB_ACCESS_TOKEN
    - secure: >-
        Ay/LJoDrErwGyj6Blv42QF+7KehosXppPTq/W51dUx3tt4GpE+NIgwTYtGjEh2lUjzj
        98yvsUgJBCy9luxtoT78fufJQHc0UNQW1NRzn4di+vCXxoGYADqLnYzXvCk3PCFDdUv
        7wa+q+m3r/1z1BXMWLUsK1R0c4+w6i9O2lfWeB0bYLyKSp1RexgPrAfuYGYKxkYLGQa
        /lyJHl3EEYNgmeOVcsqZhd5FSCKqhKHhQnwhy9iN+UgQgArKVdhcm1e/n4F4QxA2x+K
        P3VamiQ8w5SnUZDvrs9xYuIxQxQYnCQ2B7fVFSUMbUzUbFoosfi+rsYClAoZZAkx1NO
        AoQ0kyjB362MwFuCDMSc4qVT/Fuie4hz7M++6k55DQP4Q3s7wjx9kUE9kMCOU6UxfAY
        PpxfSV7PQZLu4OltN+KtQjSebgdpWn/gt7NaPd8ate3gBoLeVn2YJutzefdLBF4QqHO
        Uo+t9Yn9osTQ9AWm8DkVNKVJdk3GR8MT2Uvb48lREXOSbma28koiP4irUaTAFfTpgin
        a0Wdi5Kmaxhi1EP0nHKZI83/u/i24Zh5i9qkGRI5sMoUdmTtK8XhSpTNS8I1wH5jvo/
        pGSFoJBH7kbQm/3YxVklbjc9FgKtdtHRULs8LD9hLt6VfZkLZf+GmQ3SSbUE11vrbeG
        oYEjR6VvyvMzo=
    - PACKER_BUILD_REGION="us-east-2"
    - PACKER_DEPLOY_REGION_KMS_MAP="us-east-1:alias/cool/ebs,
                                    us-east-2:alias/cool/ebs,
                                    us-west-1:alias/cool/ebs,
                                    us-west-2:alias/cool/ebs"
    - PACKER_VERSION="1.4.3"
    - PACKER_ZIP="packer_${PACKER_VERSION}_linux_amd64.zip"
    - TERRAFORM_VERSION="0.12.7"
    - TERRAFORM_ZIP="terraform_${TERRAFORM_VERSION}_linux_amd64.zip"

# Cache pip packages, pre-commit plugins, and some curl downloads to
# speed up builds
cache:
  pip: true
  directories:
    - $HOME/.cache/pre-commit
    - $CURL_CACHE_DIR

before_install:
  # Make a cache directory for curl downloads
  - mkdir -p $CURL_CACHE_DIR
  # Install terraform
  - curl --output "${CURL_CACHE_DIR}/${TERRAFORM_ZIP}"
      --time-cond "${CURL_CACHE_DIR}/${TERRAFORM_ZIP}" --location
      "https://releases.hashicorp.com/terraform/${TERRAFORM_VERSION}/${TERRAFORM_ZIP}"
  - sudo unzip -d /opt/terraform "${CURL_CACHE_DIR}/${TERRAFORM_ZIP}"
  - sudo ln -s /opt/terraform/terraform /usr/bin/terraform
  # Install packer
  - curl --output "${CURL_CACHE_DIR}/${PACKER_ZIP}"
      --time-cond "${CURL_CACHE_DIR}/${PACKER_ZIP}" --location
      "https://releases.hashicorp.com/packer/${PACKER_VERSION}/${PACKER_ZIP}"
  - sudo unzip -o -d /usr/local/bin "${CURL_CACHE_DIR}/${PACKER_ZIP}"

install:
  - pip install --upgrade --requirement requirements-test.txt
  - export PACKER_IMAGE_VERSION=$(./bump_version.sh show)
  # Install roles
  - ansible-galaxy install --force --role-file src/requirements.yml

script:
  - pre-commit run --all-files
  - ./patch_packer_config.py query-github src/packer.json
  - packer validate src/packer.json
  - pytest

before_deploy:
  - pip install travis-wait-improved

deploy:
  # create an image when tagged
  - provider: script
    # preserve patch to packer configuration by skipping cleanup
    skip_cleanup: true
    script: travis-wait-improved --timeout=30m packer build --timestamp-ui
      src/packer.json
    on:
      tags: true
